@tailwind base;
@tailwind components;
@tailwind utilities;


/* Change to pointer (hand) cursor */
body {
    cursor: url('https://cdn.custom-cursor.com/db/pointer/32/Uwu_and_OwOPointer.png'), auto;
    overflow-x: hidden;
}

svg{
    z-index: 0;
}
.imgcvc {
    filter: drop-shadow(5px 5px 15px #351e1c98);
  }

  a:hover{
    cursor: url('https://cdn.custom-cursor.com/db/pointer/32/Uwu_and_OwOPointer.png'), auto;
  }

  /* Custom Scrollbar for All Elements */
body::-webkit-scrollbar {
    width: 0px;  /* Adjust width of the vertical scrollbar */
    height: 0px; /* Adjust height of the horizontal scrollbar */
  }
*::-webkit-scrollbar {
    width: 5px;  /* Adjust width of the vertical scrollbar */
    height: 5px; /* Adjust height of the horizontal scrollbar */
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #362b2b; /* Thumb color */
    border-radius: 10px; /* Rounded corners */
  }
  
  *::-webkit-scrollbar-track {
    background-color: #362b2b00; /* Track color */
    border-radius: 10px; /* Rounded corners */
  }
  
  *::-webkit-scrollbar-corner {
    background-color: transparent; /* Transparent corner */
  }
  
.asap-condensed-extralight {
    font-family: "Asap Condensed", serif;
    font-weight: 200;
    font-style: normal;
  }

  
.palanquin-light {
font-family: "Palanquin", serif;
font-weight: 300;
font-style: normal;
}

.palanquin-regular {
font-family: "Palanquin", serif;
font-weight: 400;
font-style: normal;
}

.palanquin-medium {
font-family: "Palanquin", serif;
font-weight: 500;
font-style: normal;
}


.palanquin-light {
    font-family: "Palanquin", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .palanquin-regular {
    font-family: "Palanquin", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .palanquin-medium {
    font-family: "Palanquin", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .font-4{
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    /* font-weight: ; */
    font-style: normal;
  }

  .roboto {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }